@model HealthCareServiceUI.Models.SiteUser
<br />
<br />

@{
    ViewBag.Title = "Dashboard For Doctor";
}

@*@if (Session["UserID"] != null)
{
    <div>
        <a href="#">@Session["UserName"]</a><br />
        <a href="/Register/Logout">Logout</a>
    </div>
}*@

<h1><strong>Dashboard For Doctor</strong></h1>
