@*@model HealthCareServiceUI.Models.SiteUser

@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>Health Care</b>
    </div>
    <pre>
        Hi Sir/Madam
            We just need to verify your Email address for complete your registration!
        <a href="@ViewBag.ConfirmationLink">click Here</a>
</pre>
</body>
</html>

