<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/21fd957e-ed14-43ec-a2d9-8141499ba731/resourceGroups/PrescriptionGroup/providers/Microsoft.Web/sites/Prescription</ResourceId>
    <ResourceGroup>PrescriptionGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://prescription.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>prescription.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Prescription</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Prescription</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=prescription.database.windows.net;Initial Catalog=HealthCareDB;Persist Security Info=True;User ID=shuvo;Password=Mokabbir3485" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HealthCareServiceUI.Models.ApplicationDbContext, HealthCareServiceUI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HealthCareDBEntities4" Order="2" Enabled="False">
          <Destination Path="Data Source=prescription.database.windows.net;Initial Catalog=HealthCareDB;User ID=shuvo;Password=Mokabbir3485" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HealthCareServiceUI.Models.HealthCareDBEntities4, HealthCareServiceUI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="HealthCareDBEntities3-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PrescriptionModel.csdl|res://*/Models.PrescriptionModel.ssdl|res://*/Models.PrescriptionModel.msl;provider=System.Data.SqlClient;provider connection string="data source=.;initial catalog=HealthCareDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HealthCareDBEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PrescriptionModel.csdl|res://*/Models.PrescriptionModel.ssdl|res://*/Models.PrescriptionModel.msl;provider=System.Data.SqlClient;provider connection string="data source=.;initial catalog=HealthCareDB;integrated security=True;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HealthCareDBEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PrescriptionModel.csdl|res://*/Models.PrescriptionModel.ssdl|res://*/Models.PrescriptionModel.msl;provider=System.Data.SqlClient;provider connection string="data source=.;initial catalog=HealthCareDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HealthCareDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/HealthCareDataModel.csdl|res://*/HealthCareDataModel.ssdl|res://*/HealthCareDataModel.msl;provider=System.Data.SqlClient;provider connection string="data source=.;initial catalog=HealthCareDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HealthCareDBEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PrescriptionModel.csdl|res://*/Models.PrescriptionModel.ssdl|res://*/Models.PrescriptionModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=prescription.database.windows.net;Initial Catalog=HealthCareDB;User ID=shuvo;Password=Mokabbir3485"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=prescription.database.windows.net;Initial Catalog=HealthCareDB;Persist Security Info=True;User ID=shuvo;Password=Mokabbir3485</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>