@model HealthCareServiceUI.Models.SiteAdmin

<br />
<br />

@{
    ViewBag.Title = "Dashboard For Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*@if (Session["UserID"] != null)
    {
        <div>
            <a href="#">@Session["UserName"]</a><br />
            <a href="/RegisterAdmin/Logout">Logout</a>
        </div>
    }*@

<h1><strong>Dashboard For Admin</strong></h1>
