@model HealthCareServiceUI.Models.SitePatient

<br />
<br />

@{
    ViewBag.Title = "Dashboard For Patient";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

@*@if (Session["UserID"] != null)
    {
        <div>
            <a href="#">@Session["UserName"]</a><br />
            <a href="/Register/Logout">Logout</a>
        </div>
    }*@

<h1><strong>Dashboard For Patient</strong></h1>
