@model HealthCareServiceUI.Models.ProfessionalDetailModel

@{
    ViewBag.Title = "Doctor Profile";
}

<div>
    <h4>Doctor Professional Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>



    </dl>
</div>
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Pro_id })</li>
    <li>@Html.ActionLink("Back to List", "IndexList")</li>
</ul>
