@model HealthCareServiceUI.Models.ProfessionalDetailModel

@{
    ViewBag.Title = "Doctor Profile";
}

    <div class="container" style="width:400px; height:500px;">
        @using (Html.BeginForm("Index", "ProfessionalDetailMVC", FormMethod.Post))
        {
            @Html.DropDownListFor(x => x.Doctor_id, ViewBag.doctor_list as SelectList, "---Select---", new { @class = "form-control" })

            @Html.TextBoxFor(x => x.Specialization, new { @class = "form-control", @placeholder = "Specialization" })

            <input type="submit" value="submit" class="btn btn-block btn-danger" />
        }




    </div>

